.timeContainer{
    width: 35%;
    height: 80vh; 
    background-color: #ebeaed;
    border-radius: 50px;
    position: relative;
    top: 10%;
    right: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#promptText{
    font-family: Verdana;
    font-size: 35px;
    color: #49454F;
}